
html {
	border: 1px solid white;
	/*!!!!!!!!remember to add the fixed header!!!!!!!!!!
	!!!!!!!remember to remove borders!!!!!!*/
}

body {
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 69px;
	position: fixed;
	border-bottom: 1px solid seashell;
	z-index: 1000;
	width: 100%;
}

.logo {
	margin-left: 10px;
}

header a:link {
	margin: 5px;
	text-decoration: underline;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
}

#mission {
	background-image: url(../resources/img-mission-background.jpg);
	height: 700px;
	background-position: center;
	display: flex;
	align-items: center;
}

.main {
	margin-left: 60px;
	width: 1200px;
	
}

#missiontext {
	background-color: black;
	height: 150px;
	width: 100%;
	align-content: center;
}

#featured {
	display: flex;
	justify-content: center;
}

#featured_container {
	width: 1000px;
	margin: 60px;
}

#featured_text {
}

#featured_images img {
	height: 200px;
	width: 300px;
	margin: 10px;
}

#featured_images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h4 {
	margin: 0px;
	padding: 0px;
}



#locations {
	border: 1px solid white;
	background-image: url(../resources/img-locations-background.jpg);
	height: 500px;
	display: flex; 
	flex-direction: column;
}

#locations_title {
	border: 1px solid white;
	width: 100%;

	/*
	display: flex;
	justify-content: center;*/
}

#locations_title h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#address_container {
	display: inline-flex;
	justify-content: center;
}

.address {
	background-color: black;
	margin: 20px;
	width: 300px;
	padding: 20px;
	border: 1px solid white;
	display: inline-block;
	opacity: 1;
	margin-top: 15px;
} 

#contact {
	height: 200px;
}

footer {
	text-align: left;
	margin-left: 20px;
}

h2 {
	border: 1px solid white;
}

	/*
	justify-content: center;
	flex-direction: column;
}

.address {
	background-color: black;
	margin: 20px;
	width: 300px;
	padding: 20px;
}
/*
#locations_text {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}*/
/*
.locations_container {
	align-self: center;

}*/
