html {
	border: 1px solid white;
}

body {
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 69px;
	border-bottom: 1px solid seashell;
}

.logo {
	margin-left: 10px;
}

header a:link {
	margin: 5px;
	text-decoration: underline;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
}

#mission {
	background-image: url(../resources/img-mission-background.jpg);
	height: 700px;
	background-position: center;
	display: flex;
	align-items: center;
}

.main {
	margin-left: 60px;
	width: 1200px;
}

#missiontext {
	background-color: black;
	height: 150px;
	width: 100%;
	align-content: center;
}

#featured {
	display: flex;
	justify-content: center;
}

#featured_container {
	width: 1000px;
}

#featured_text {
}

#featured_images img {
	height: 200px;
	width: 300px;
	margin: 10px;
}

#featured_images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h4 {
	margin: 0px;
	padding: 0px;
}